body {
    padding: 0;
    margin: 0;
    
}


#login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 7px;
    width:280px;
}

.container-login {
    padding-bottom: 50px;
    opacity: 0.8;
    color: #fff;
}

.container-login::after {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-top: -17px;
    margin-left: -5px;
}

.card-content label {
    color: #fff;
    font-size: 12px;
    opacity: 0.8;
}

.card-content-area {
    display: flex;
    flex-direction: column;
    padding:10px 0;
}

.card-content-area input {
    margin-top: 10px;
    padding:0 5px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: #fff;
}

.card-footer {
    display: flex;
    flex-direction: column;
}

.card-footer .submit{
    background-color: rgba(255, 0, 0, 0.664);
    border: none;
    color: white;

    padding: 15px 39px;
    margin-right: 15px;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;

    cursor: pointer;
    transition: .5s ease all;
}

.card-footer .submit:hover{
    background-color: rgba(83, 0, 0, 0.664);
    color: black;
}

.card-footer a {
    text-align: center;
    font-size: 17px;
    opacity: 0.8;
    color: #fff;
    text-decoration: none;


}

.recuperar_senha{
    font-size: large;
}
  
.back{
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    background-image: url(../img/fundo.png);
    background-size: cover;
    background-attachment: fixed;

}

header .botao2{
    background-color: black;
    border: none;
    color: #fff;

    padding: 10px 20px;
    margin-right: 15px;
    font-size: 13px;

    cursor: pointer;
    transition: .5s ease all;

}

header .botao2:hover{
    background-color: rgba(206, 9, 9, 0.363);
    color: black;
}


